<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>
        <div th:fragment="searchResults">
            <div class="form-group blu-margin">
                <select class="trade-category" th:field="${tradeCategories}"  id="trade-category-selector">
                    <option th:each="tc : ${tradeCategories}" th:value="${tc.value}" th:text="${tc.label}"></option>
                </select>
            </div>
        </div>
    </body>
</html>